.wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid blue;
}

.wrapper h1 {
	text-align: center;
}

.content {
	width: 100%;

}

 table {
	float:right;
}